<!doctype html>
{% load static %}
<html>

<head>

    <link href="{% static "css/main.css" %}" rel="stylesheet">

</head>

<body>

<h2>Хандах системүүд</h2>

<div class="client-list">

    {% for client in clients %}
    <div>
        <h3>{{ client.name }}</h3>

        {% if client.is_active %}
        <span class="label-green">идэвхитэй</span>
        {% endif %}

        <table class="fullwidth">
            <tbody>
                <tr>
                    <th>Redirect URI:</th>
                    <td class="word-break">{{ client.redirect_uri | urlize }}</td>
                </tr>
                <tr>
                    <th>Client key:</th>
                    <td><code class="word-break">{{ client.api_key }}</code></td>
                </tr>
                <tr>
                    <th>Client secret:</th>
                    <td><code class="word-break">{{ client.api_secret }}</code></td>
                </tr>
                <tr>
                    <th>Үүсгэсэн:</th>
                    <td>
                        {{ client.created_at|date }}
                    </td>
                </tr>
                <tr>
                    <th>Зассан:</th>
                    <td>
                        {{ client.updated_at|date }}
                    </td>
                </tr>
            </tbody>
        </table>

        <p></p>

        <table class="fullwidth">
            <tbody>
                <tr>
                    <td width="50%">
                        <a href="{% url "client-toggle-active" client.pk %}">
                            {% if client.is_active %}
                                түдгэлзүүлэх
                            {% else %}
                                идэвхитэй болгох
                            {% endif %}
                        </a>
                    </td>
                    <td width="50%" align="right">
                        <a href="{% url "client-delete" client.pk %}" onclick="return confirm('Устгахдаа итгэлтэй байна уу?')">устгах</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}

    <div>
        {% include "client/index_form.html" %}
    </div>

</div>


</body>

</html>
